# Ignore files with credentials.
/config.php

/vendor


/node_modules

/scratch_pad.js

.env

/sites/*
!/sites/.gitkeep

/themes/*
!/themes/.gitkeep

/modules/*
!/modules/.gitkeep

/dev_modules/node-books-online/
/WeatherApp


dev_modules/node-lib-http/
dev_modules/webc-events/
dev_modules/webc-ors/

